In [5]:
import pandas as pd

In [6]:
insuracnce_df=pd.read_csv("insurance.csv")

In [7]:
insuracnce_df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [12]:
insuracnce_df.shape

(1338, 7)

In [15]:
insuracnce_df.value_counts()

age  sex     bmi     children  smoker  region     charges
19   male    30.590  0         no      northwest  1639.56310     2
18   female  38.280  0         no      southeast  1631.82120     1
64   female  33.800  1         yes     southwest  47928.03000    1
             32.965  0         no      northwest  14692.66935    1
18   female  30.115  0         no      northeast  2203.47185     1
                                                                ..
64   female  26.885  0         yes     northwest  29330.98315    1
             30.115  3         no      northwest  16455.70785    1
             31.300  2         yes     southwest  47291.05500    1
             31.825  2         no      northeast  16069.08475    1
63   male    28.310  0         no      northwest  13770.09790    1
Name: count, Length: 1337, dtype: int64

## Pandas Chapter_3 Indexing

In [4]:
football_df=pd.read_csv("Euro_2012_stats_TEAM.csv")

NameError: name 'pd' is not defined

In [17]:
football_df   ## Find first 10 observation and first 10 cloumns

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [19]:
football_df.iloc[0:11,0:5] ## Index location

              Team  Goals  Shots on target  Shots off target Shooting Accuracy
0          Croatia      4               13                12             51.9%
1   Czech Republic      4               13                18             41.9%
2          Denmark      4               10                10             50.0%
3          England      5               11                18             50.0%
4           France      3               22                24             37.9%
5          Germany     10               32                32             47.8%
6           Greece      5                8                18             30.7%
7            Italy      6               34                45             43.0%
8      Netherlands      2               12                36             25.0%
9           Poland      2               15                23             39.4%
10        Portugal      6               22                42             34.3%

In [23]:
football_df.loc[[2,5,7]]   ##--------IndexingError: Too many indexers----- (resolved by adding one more index)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19

In [29]:
football_df.loc[[2,5,7],["Team","Goals","Red Cards"]]

      Team  Goals  Red Cards
2  Denmark      4          0
5  Germany     10          0
7    Italy      6          0

In [ ]:
football_df.loc[[2,5,7],["Team","Goals","Red Cards"]]

In [32]:
football_df.info()  ## It will provide the detailed information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Team                        16 non-null     object
 1   Goals                       16 non-null     int64
 2   Shots on target             16 non-null     int64
 3   Shots off target            16 non-null     int64
 4   Shooting Accuracy           16 non-null     object
 5   % Goals-to-shots            16 non-null     object
 6   Total shots (inc. Blocked)  16 non-null     int64
 7   Hit Woodwork                16 non-null     int64
 8   Penalty goals               16 non-null     int64
 9   Penalties not scored        16 non-null     int64
 10  Headed goals                16 non-null     int64
 11  Passes                      16 non-null     int64
 12  Passes completed            16 non-null     int64
 13  Passing Accuracy            16 non-null     object
 14  Touches                     16 non-null     int64
 15  Crosses                     16 non-null     int64
 16  Dribbles                    16 non-null     int64
 17  Corners Taken               16 non-null     int64
 18  Tackles                     16 non-null     int64
 19  Clearances                  16 non-null     int64
 20  Interceptions               16 non-null     int64
 21  Clearances off line         15 non-null     float64
 22  Clean Sheets                16 non-null     int64
 23  Blocks                      16 non-null     int64
 24  Goals conceded              16 non-null     int64
 25  Saves made                  16 non-null     int64
 26  Saves-to-shots ratio        16 non-null     object
 27  Fouls Won                   16 non-null     int64
 28  Fouls Conceded              16 non-null     int64
 29  Offsides                    16 non-null     int64
 30  Yellow Cards                16 non-null     int64
 31  Red Cards                   16 non-null     int64
 32  Subs on                     16 non-null     int64
 33  Subs off                    16 non-null     int64
 34  Players Used                16 non-null     int64
dtypes: float64(1), int64(29), object(5)
memory usage: 4.5+ KB

In [33]:
football_df.isna().sum()

Team                          0
Goals                         0
Shots on target               0
Shots off target              0
Shooting Accuracy             0
% Goals-to-shots              0
Total shots (inc. Blocked)    0
Hit Woodwork                  0
Penalty goals                 0
Penalties not scored          0
Headed goals                  0
Passes                        0
Passes completed              0
Passing Accuracy              0
Touches                       0
Crosses                       0
Dribbles                      0
Corners Taken                 0
Tackles                       0
Clearances                    0
Interceptions                 0
Clearances off line           1
Clean Sheets                  0
Blocks                        0
Goals conceded                0
Saves made                    0
Saves-to-shots ratio          0
Fouls Won                     0
Fouls Conceded                0
Offsides                      0
Yellow Cards                  0
Red Cards                     0
Subs on                       0
Subs off                      0
Players Used                  0
dtype: int64

## Chapter_4 Delete operations

In [34]:
football_df  ## Delete the "Total shots column"

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [35]:
del football_df["Total shots (inc. Blocked)"]    ## This is used to delete the specific column

In [36]:
football_df

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,0,0,0,2,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,0,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,1,0,0,3,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,0,0,0,3,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,1,0,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,2,1,0,2,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,1,1,1,0,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,2,0,0,2,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,2,0,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,0,0,0,1,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,6,0,0,2,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,0,0,0,1,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,2,0,0,1,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,0,1,0,2,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,3,0,0,1,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,0,0,0,2,...,13,76.5%,48,31,4,5,0,9,9,18

In [37]:
del football_df["Saves-to-shots ratio"]

In [38]:
football_df

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,...,Goals conceded,Saves made,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,0,0,0,2,...,3,13,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,0,0,0,0,...,6,9,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,1,0,0,3,...,5,10,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,0,0,0,3,...,3,22,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,1,0,0,0,...,5,6,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,2,1,0,2,...,6,10,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,1,1,1,0,...,7,13,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,2,0,0,2,...,7,20,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,2,0,0,0,...,5,12,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,0,0,0,1,...,3,6,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,6,0,0,2,...,4,10,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,0,0,0,1,...,9,17,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,2,0,0,1,...,3,10,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,0,1,0,2,...,1,15,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,3,0,0,1,...,5,8,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,0,0,0,2,...,4,13,48,31,4,5,0,9,9,18

In [40]:
football_df.drop(["Shots on target"])    ## This is used to remove the column

KeyError: "['Shots on target'] not found in axis"

In [41]:
football_df.drop(["Shots on target"],axis=1)

,Team,Goals,Shots off target,Shooting Accuracy,% Goals-to-shots,Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,...,Goals conceded,Saves made,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,12,51.9%,16.0%,0,0,0,2,1076,...,3,13,41,62,2,9,0,9,9,16
1,Czech Republic,4,18,41.9%,12.9%,0,0,0,0,1565,...,6,9,53,73,8,7,0,11,11,19
2,Denmark,4,10,50.0%,20.0%,1,0,0,3,1298,...,5,10,25,38,8,4,0,7,7,15
3,England,5,18,50.0%,17.2%,0,0,0,3,1488,...,3,22,43,45,6,5,0,11,11,16
4,France,3,24,37.9%,6.5%,1,0,0,0,2066,...,5,6,36,51,5,6,0,11,11,19
5,Germany,10,32,47.8%,15.6%,2,1,0,2,2774,...,6,10,63,49,12,4,0,15,15,17
6,Greece,5,18,30.7%,19.2%,1,1,1,0,1187,...,7,13,67,48,12,9,1,12,12,20
7,Italy,6,45,43.0%,7.5%,2,0,0,2,3016,...,7,20,101,89,16,16,0,18,18,19
8,Netherlands,2,36,25.0%,4.1%,2,0,0,0,1556,...,5,12,35,30,3,5,0,7,7,15
9,Poland,2,23,39.4%,5.2%,0,0,0,1,1059,...,3,6,48,56,3,7,1,7,7,17
10,Portugal,6,42,34.3%,9.3%,6,0,0,2,1891,...,4,10,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,12,36.8%,5.2%,0,0,0,1,851,...,9,17,43,51,11,6,1,10,10,17
12,Russia,5,31,22.5%,12.5%,2,0,0,1,1602,...,3,10,34,43,4,6,0,7,7,16
13,Spain,12,33,55.9%,16.0%,0,1,0,2,4317,...,1,15,102,83,19,11,0,17,17,18
14,Sweden,5,19,47.2%,13.8%,3,0,0,1,1192,...,5,8,35,51,7,7,0,9,9,18
15,Ukraine,2,26,21.2%,6.0%,0,0,0,2,1276,...,4,13,48,31,4,5,0,9,9,18

In [42]:
football_df

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,...,Goals conceded,Saves made,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,0,0,0,2,...,3,13,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,0,0,0,0,...,6,9,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,1,0,0,3,...,5,10,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,0,0,0,3,...,3,22,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,1,0,0,0,...,5,6,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,2,1,0,2,...,6,10,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,1,1,1,0,...,7,13,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,2,0,0,2,...,7,20,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,2,0,0,0,...,5,12,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,0,0,0,1,...,3,6,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,6,0,0,2,...,4,10,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,0,0,0,1,...,9,17,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,2,0,0,1,...,3,10,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,0,1,0,2,...,1,15,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,3,0,0,1,...,5,8,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,0,0,0,2,...,4,13,48,31,4,5,0,9,9,18

In [43]:
football_df=football_df.drop(["Shots on target"],axis=1)  ## Here we are saving the data which is modified or removed some datas

In [44]:
football_df

,Team,Goals,Shots off target,Shooting Accuracy,% Goals-to-shots,Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,...,Goals conceded,Saves made,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,12,51.9%,16.0%,0,0,0,2,1076,...,3,13,41,62,2,9,0,9,9,16
1,Czech Republic,4,18,41.9%,12.9%,0,0,0,0,1565,...,6,9,53,73,8,7,0,11,11,19
2,Denmark,4,10,50.0%,20.0%,1,0,0,3,1298,...,5,10,25,38,8,4,0,7,7,15
3,England,5,18,50.0%,17.2%,0,0,0,3,1488,...,3,22,43,45,6,5,0,11,11,16
4,France,3,24,37.9%,6.5%,1,0,0,0,2066,...,5,6,36,51,5,6,0,11,11,19
5,Germany,10,32,47.8%,15.6%,2,1,0,2,2774,...,6,10,63,49,12,4,0,15,15,17
6,Greece,5,18,30.7%,19.2%,1,1,1,0,1187,...,7,13,67,48,12,9,1,12,12,20
7,Italy,6,45,43.0%,7.5%,2,0,0,2,3016,...,7,20,101,89,16,16,0,18,18,19
8,Netherlands,2,36,25.0%,4.1%,2,0,0,0,1556,...,5,12,35,30,3,5,0,7,7,15
9,Poland,2,23,39.4%,5.2%,0,0,0,1,1059,...,3,6,48,56,3,7,1,7,7,17
10,Portugal,6,42,34.3%,9.3%,6,0,0,2,1891,...,4,10,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,12,36.8%,5.2%,0,0,0,1,851,...,9,17,43,51,11,6,1,10,10,17
12,Russia,5,31,22.5%,12.5%,2,0,0,1,1602,...,3,10,34,43,4,6,0,7,7,16
13,Spain,12,33,55.9%,16.0%,0,1,0,2,4317,...,1,15,102,83,19,11,0,17,17,18
14,Sweden,5,19,47.2%,13.8%,3,0,0,1,1192,...,5,8,35,51,7,7,0,9,9,18
15,Ukraine,2,26,21.2%,6.0%,0,0,0,2,1276,...,4,13,48,31,4,5,0,9,9,18

In [49]:
football_df.drop(["Passes completed"],axis=1)

,Team,Goals,Shots off target,Shooting Accuracy,% Goals-to-shots,Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passing Accuracy,...,Goals conceded,Saves made,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,12,51.9%,16.0%,0,0,0,2,76.9%,...,3,13,41,62,2,9,0,9,9,16
1,Czech Republic,4,18,41.9%,12.9%,0,0,0,0,78.1%,...,6,9,53,73,8,7,0,11,11,19
2,Denmark,4,10,50.0%,20.0%,1,0,0,3,83.3%,...,5,10,25,38,8,4,0,7,7,15
3,England,5,18,50.0%,17.2%,0,0,0,3,80.6%,...,3,22,43,45,6,5,0,11,11,16
4,France,3,24,37.9%,6.5%,1,0,0,0,87.2%,...,5,6,36,51,5,6,0,11,11,19
5,Germany,10,32,47.8%,15.6%,2,1,0,2,87.4%,...,6,10,63,49,12,4,0,15,15,17
6,Greece,5,18,30.7%,19.2%,1,1,1,0,76.7%,...,7,13,67,48,12,9,1,12,12,20
7,Italy,6,45,43.0%,7.5%,2,0,0,2,83.9%,...,7,20,101,89,16,16,0,18,18,19
8,Netherlands,2,36,25.0%,4.1%,2,0,0,0,88.7%,...,5,12,35,30,3,5,0,7,7,15
9,Poland,2,23,39.4%,5.2%,0,0,0,1,80.4%,...,3,6,48,56,3,7,1,7,7,17
10,Portugal,6,42,34.3%,9.3%,6,0,0,2,77.2%,...,4,10,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,12,36.8%,5.2%,0,0,0,1,71.2%,...,9,17,43,51,11,6,1,10,10,17
12,Russia,5,31,22.5%,12.5%,2,0,0,1,83.9%,...,3,10,34,43,4,6,0,7,7,16
13,Spain,12,33,55.9%,16.0%,0,1,0,2,88.4%,...,1,15,102,83,19,11,0,17,17,18
14,Sweden,5,19,47.2%,13.8%,3,0,0,1,80.9%,...,5,8,35,51,7,7,0,9,9,18
15,Ukraine,2,26,21.2%,6.0%,0,0,0,2,81.7%,...,4,13,48,31,4,5,0,9,9,18

In [50]:
football_df

,Team,Goals,Shots off target,Shooting Accuracy,% Goals-to-shots,Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes completed,...,Goals conceded,Saves made,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,12,51.9%,16.0%,0,0,0,2,828,...,3,13,41,62,2,9,0,9,9,16
1,Czech Republic,4,18,41.9%,12.9%,0,0,0,0,1223,...,6,9,53,73,8,7,0,11,11,19
2,Denmark,4,10,50.0%,20.0%,1,0,0,3,1082,...,5,10,25,38,8,4,0,7,7,15
3,England,5,18,50.0%,17.2%,0,0,0,3,1200,...,3,22,43,45,6,5,0,11,11,16
4,France,3,24,37.9%,6.5%,1,0,0,0,1803,...,5,6,36,51,5,6,0,11,11,19
5,Germany,10,32,47.8%,15.6%,2,1,0,2,2427,...,6,10,63,49,12,4,0,15,15,17
6,Greece,5,18,30.7%,19.2%,1,1,1,0,911,...,7,13,67,48,12,9,1,12,12,20
7,Italy,6,45,43.0%,7.5%,2,0,0,2,2531,...,7,20,101,89,16,16,0,18,18,19
8,Netherlands,2,36,25.0%,4.1%,2,0,0,0,1381,...,5,12,35,30,3,5,0,7,7,15
9,Poland,2,23,39.4%,5.2%,0,0,0,1,852,...,3,6,48,56,3,7,1,7,7,17
10,Portugal,6,42,34.3%,9.3%,6,0,0,2,1461,...,4,10,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,12,36.8%,5.2%,0,0,0,1,606,...,9,17,43,51,11,6,1,10,10,17
12,Russia,5,31,22.5%,12.5%,2,0,0,1,1345,...,3,10,34,43,4,6,0,7,7,16
13,Spain,12,33,55.9%,16.0%,0,1,0,2,3820,...,1,15,102,83,19,11,0,17,17,18
14,Sweden,5,19,47.2%,13.8%,3,0,0,1,965,...,5,8,35,51,7,7,0,9,9,18
15,Ukraine,2,26,21.2%,6.0%,0,0,0,2,1043,...,4,13,48,31,4,5,0,9,9,18

In [53]:
football_df.drop(["Passes completed"],axis=1, inplace=True)    ## THis is used to save the data after deleting or removing columns

In [54]:
football_df

,Team,Goals,Shots off target,Shooting Accuracy,% Goals-to-shots,Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passing Accuracy,...,Goals conceded,Saves made,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,12,51.9%,16.0%,0,0,0,2,76.9%,...,3,13,41,62,2,9,0,9,9,16
1,Czech Republic,4,18,41.9%,12.9%,0,0,0,0,78.1%,...,6,9,53,73,8,7,0,11,11,19
2,Denmark,4,10,50.0%,20.0%,1,0,0,3,83.3%,...,5,10,25,38,8,4,0,7,7,15
3,England,5,18,50.0%,17.2%,0,0,0,3,80.6%,...,3,22,43,45,6,5,0,11,11,16
4,France,3,24,37.9%,6.5%,1,0,0,0,87.2%,...,5,6,36,51,5,6,0,11,11,19
5,Germany,10,32,47.8%,15.6%,2,1,0,2,87.4%,...,6,10,63,49,12,4,0,15,15,17
6,Greece,5,18,30.7%,19.2%,1,1,1,0,76.7%,...,7,13,67,48,12,9,1,12,12,20
7,Italy,6,45,43.0%,7.5%,2,0,0,2,83.9%,...,7,20,101,89,16,16,0,18,18,19
8,Netherlands,2,36,25.0%,4.1%,2,0,0,0,88.7%,...,5,12,35,30,3,5,0,7,7,15
9,Poland,2,23,39.4%,5.2%,0,0,0,1,80.4%,...,3,6,48,56,3,7,1,7,7,17
10,Portugal,6,42,34.3%,9.3%,6,0,0,2,77.2%,...,4,10,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,12,36.8%,5.2%,0,0,0,1,71.2%,...,9,17,43,51,11,6,1,10,10,17
12,Russia,5,31,22.5%,12.5%,2,0,0,1,83.9%,...,3,10,34,43,4,6,0,7,7,16
13,Spain,12,33,55.9%,16.0%,0,1,0,2,88.4%,...,1,15,102,83,19,11,0,17,17,18
14,Sweden,5,19,47.2%,13.8%,3,0,0,1,80.9%,...,5,8,35,51,7,7,0,9,9,18
15,Ukraine,2,26,21.2%,6.0%,0,0,0,2,81.7%,...,4,13,48,31,4,5,0,9,9,18

In [55]:
football_df

,Team,Goals,Shots off target,Shooting Accuracy,% Goals-to-shots,Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passing Accuracy,...,Goals conceded,Saves made,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,12,51.9%,16.0%,0,0,0,2,76.9%,...,3,13,41,62,2,9,0,9,9,16
1,Czech Republic,4,18,41.9%,12.9%,0,0,0,0,78.1%,...,6,9,53,73,8,7,0,11,11,19
2,Denmark,4,10,50.0%,20.0%,1,0,0,3,83.3%,...,5,10,25,38,8,4,0,7,7,15
3,England,5,18,50.0%,17.2%,0,0,0,3,80.6%,...,3,22,43,45,6,5,0,11,11,16
4,France,3,24,37.9%,6.5%,1,0,0,0,87.2%,...,5,6,36,51,5,6,0,11,11,19
5,Germany,10,32,47.8%,15.6%,2,1,0,2,87.4%,...,6,10,63,49,12,4,0,15,15,17
6,Greece,5,18,30.7%,19.2%,1,1,1,0,76.7%,...,7,13,67,48,12,9,1,12,12,20
7,Italy,6,45,43.0%,7.5%,2,0,0,2,83.9%,...,7,20,101,89,16,16,0,18,18,19
8,Netherlands,2,36,25.0%,4.1%,2,0,0,0,88.7%,...,5,12,35,30,3,5,0,7,7,15
9,Poland,2,23,39.4%,5.2%,0,0,0,1,80.4%,...,3,6,48,56,3,7,1,7,7,17
10,Portugal,6,42,34.3%,9.3%,6,0,0,2,77.2%,...,4,10,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,12,36.8%,5.2%,0,0,0,1,71.2%,...,9,17,43,51,11,6,1,10,10,17
12,Russia,5,31,22.5%,12.5%,2,0,0,1,83.9%,...,3,10,34,43,4,6,0,7,7,16
13,Spain,12,33,55.9%,16.0%,0,1,0,2,88.4%,...,1,15,102,83,19,11,0,17,17,18
14,Sweden,5,19,47.2%,13.8%,3,0,0,1,80.9%,...,5,8,35,51,7,7,0,9,9,18
15,Ukraine,2,26,21.2%,6.0%,0,0,0,2,81.7%,...,4,13,48,31,4,5,0,9,9,18

In [59]:
Sales_Transactions_df=pd.read_csv("Sales Transactions-2017.csv")

In [60]:
Sales_Transactions_df

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
47285,31/03/2018,Sal:10042,Vkp,10*10 SHEET,25,137,"3,425.00",NaN,"3,425.00"
47286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47288,NaN,Total,NaN,NaN,"607,734.60","669,300.49","9,953,816.13","106,607.00","9,868,583.13"
47289,NaN,Total,NaN,NaN,"7,593,062.00","8,309,116.00","115,778,725.71","936,348.00","115,105,123.71"

In [63]:
Sales_Transactions_df.isna().sum()

Date               5388
Voucher            5375
Party                15
Product            5388
Qty                5375
Rate               5376
Gross              5376
Disc              44432
Voucher Amount    35942
dtype: int64

In [62]:
Sales_Transactions_df.dropna()  ## This is used to remove the duplicates

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
6,1/4/2017,Sal:898,Lock,Vishnu 250ml,100,30,"3,000.00",100,"5,400.00"
8,,,khader vali late en,,,,,,
9,,,try,,,,,,
12,,,DUMMY ENTRY,,,,,,
15,,,dummy entry,,,,,,
...,...,...,...,...,...,...,...,...,...
47211,,,credit bill,,,,,,
47237,,,g.subharao,,,,,,
47246,,,credit bill,,,,,,
47252,,,april 3rd,,,,,,
47258,,,april 3rd,,,,,,

## Chapter_5 Series and Dateframe

In [65]:
type(football_df["Goals"])

pandas.core.series.Series

In [64]:
football_df["Goals"]   #when we refer to one column is known as series

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [69]:
type(football_df[["Goals","Headed goals"]])  #when we refer to two column is known as dateframes

pandas.core.frame.DataFrame

In [70]:
football_df[["Goals","Headed goals"]]

    Goals  Headed goals
0       4             2
1       4             0
2       4             3
3       5             3
4       3             0
5      10             2
6       5             0
7       6             2
8       2             0
9       2             1
10      6             2
11      1             1
12      5             1
13     12             2
14      5             1
15      2             2

In [71]:
a=[10,20,30,40,50]

In [72]:
type(a)

list

In [75]:
b=pd.Series(a)

In [76]:
b

0    10
1    20
2    30
3    40
4    50
dtype: int64

# Chapter_6 Applying a Function

In [3]:
student_df=pd.read_csv("student-mat.csv")

NameError: name 'pd' is not defined

In [80]:
student_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

# Task: 1.Initial Analysis 2.Find unique elements are present in "Mjob"

In [83]:
student_df.shape

(395, 33)

In [84]:
student_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [85]:
student_df.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15

In [86]:
student_df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [87]:
student_df.tail(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [88]:
student_df.isna()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
391,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
392,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
393,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [89]:
student_df.isna().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [95]:
student_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [99]:
student_df[["age","sex"]]

     age sex
0     18   F
1     17   F
2     15   F
3     15   F
4     16   F
..   ...  ..
390   20   M
391   17   M
392   21   M
393   18   M
394   19   M

[395 rows x 2 columns]

In [100]:
student_df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [101]:
student_df["Mjob"].unique()    ## Finding unique values in Mjob

array(['at_home', 'health', 'other', 'services', 'teacher'], dtype=object)

In [102]:
 student_df["Mjob"].nunique()          ## Finding nunique values counts  in Mjob

5

In [127]:
student_df=pd.read_csv("student-mat.csv")

In [128]:
student_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [129]:
student_df["age"]   ## Checking age

0      18
1      17
2      15
3      15
4      16
       ..
390    20
391    17
392    21
393    18
394    19
Name: age, Length: 395, dtype: int64

In [130]:
student_df["age"]+2         ## Checking age + 2 addition

0      20
1      19
2      17
3      17
4      18
       ..
390    22
391    19
392    23
393    20
394    21
Name: age, Length: 395, dtype: int64

In [131]:
student_df["age"]=student_df["age"]+2      ## Saving the data after addition

In [132]:
student_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,20,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,19,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,17,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,17,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,18,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,22,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,19,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,23,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,20,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,21,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [134]:
student_df["Fjob"].str.upper()              ## Changing the lower to upper with string

0       TEACHER
1         OTHER
2         OTHER
3      SERVICES
4         OTHER
         ...
390    SERVICES
391    SERVICES
392       OTHER
393       OTHER
394     AT_HOME
Name: Fjob, Length: 395, dtype: object

In [135]:
student_df["Pstatus"].str.lower()           ## Changing the upper to lower with string

0      a
1      t
2      t
3      t
4      t
      ..
390    a
391    t
392    t
393    t
394    t
Name: Pstatus, Length: 395, dtype: object

In [136]:
student_df["Pstatus"]=student_df["Pstatus"].str.lower()  ## saving the changes -(upper to lower with string)

In [137]:
student_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,20,U,GT3,a,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,19,U,GT3,t,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,17,U,LE3,t,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,17,U,GT3,t,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,18,U,GT3,t,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,22,U,LE3,a,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,19,U,LE3,t,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,23,R,GT3,t,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,20,R,LE3,t,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,21,U,LE3,t,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [141]:
def upper_function(x):    ## Defining the upper fucntion
    return x.upper()

In [142]:
student_df["Mjob"].apply(upper_function)     ## Here we are using the apply fucntion

0       AT_HOME
1       AT_HOME
2       AT_HOME
3        HEALTH
4         OTHER
         ...
390    SERVICES
391    SERVICES
392       OTHER
393    SERVICES
394       OTHER
Name: Mjob, Length: 395, dtype: object

In [143]:
def addfunction(x):     ## Defining the add fucntion
    return x+2

In [146]:
student_df["famrel"]=student_df["famrel"].apply(addfunction)

In [147]:
student_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,20,U,GT3,a,4,4,at_home,teacher,...,8,3,4,1,1,3,6,5,6,6
1,GP,F,19,U,GT3,t,1,1,at_home,other,...,9,3,3,1,1,3,4,5,5,6
2,GP,F,17,U,LE3,t,1,1,at_home,other,...,8,3,2,2,3,3,10,7,8,10
3,GP,F,17,U,GT3,t,4,2,health,services,...,7,2,2,1,1,5,2,15,14,15
4,GP,F,18,U,GT3,t,3,3,other,other,...,8,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,22,U,LE3,a,2,2,services,services,...,9,5,4,4,5,4,11,9,9,9
391,MS,M,19,U,LE3,t,3,1,services,services,...,6,4,5,3,4,2,3,14,16,16
392,MS,M,23,R,GT3,t,1,1,other,other,...,9,5,3,3,3,3,3,10,8,7
393,MS,M,20,R,LE3,t,3,2,services,other,...,8,4,1,3,4,5,0,11,12,10
394,MS,M,21,U,LE3,t,1,1,other,at_home,...,7,2,3,3,3,5,5,8,9,9

In [148]:
lambda x:x.upper()    ## If we don't want to use or call the function multiple time, please use lambda function

In [149]:
student_df["Pstatus"].apply(lambda x:x.upper())

0      A
1      T
2      T
3      T
4      T
      ..
390    A
391    T
392    T
393    T
394    T
Name: Pstatus, Length: 395, dtype: object

## Create a new column with the name "Eligibility Criteria"

In [152]:
student_df["age"].apply(lambda x: 1 if x>=18 else 0)

0      1
1      1
2      0
3      0
4      1
      ..
390    1
391    1
392    1
393    1
394    1
Name: age, Length: 395, dtype: int64

In [153]:
student_df["Eligibility Criteria"]=student_df["age"].apply(lambda x: 1 if x>=18 else 0)

In [154]:
student_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Eligibility Criteria
0,GP,F,20,U,GT3,a,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,1
1,GP,F,19,U,GT3,t,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,1
2,GP,F,17,U,LE3,t,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,0
3,GP,F,17,U,GT3,t,4,2,health,services,...,2,2,1,1,5,2,15,14,15,0
4,GP,F,18,U,GT3,t,3,3,other,other,...,3,2,1,2,5,4,6,10,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,22,U,LE3,a,2,2,services,services,...,5,4,4,5,4,11,9,9,9,1
391,MS,M,19,U,LE3,t,3,1,services,services,...,4,5,3,4,2,3,14,16,16,1
392,MS,M,23,R,GT3,t,1,1,other,other,...,5,3,3,3,3,3,10,8,7,1
393,MS,M,20,R,LE3,t,3,2,services,other,...,4,1,3,4,5,0,11,12,10,1
394,MS,M,21,U,LE3,t,1,1,other,at_home,...,2,3,3,3,5,5,8,9,9,1

## Chapter_7 Append concat Merge

In [11]:
df_2017=pd.read_csv("Sales Transactions-2017.csv")
df_2018=pd.read_csv("Sales Transactions-2018.csv")
df_2019=pd.read_csv("Sales Transactions-2019.csv")

In [9]:
df_2017

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
47285,31/03/2018,Sal:10042,Vkp,10*10 SHEET,25,137,"3,425.00",NaN,"3,425.00"
47286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47288,NaN,Total,NaN,NaN,"607,734.60","669,300.49","9,953,816.13","106,607.00","9,868,583.13"
47289,NaN,Total,NaN,NaN,"7,593,062.00","8,309,116.00","115,778,725.71","936,348.00","115,105,123.71"

In [12]:
df_2018

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2018,Sal:146,TP13,SILVER POUCH 9*12,50,85,"4,250.00",NaN,"66,724.00"
1,1/4/2018,Sal:146,TP13,RUBBER,5,290,"1,450.00",NaN,NaN
2,1/4/2018,Sal:146,TP13,DURGA 10*12 Blue,"1,600.00",5.5,"8,800.00",NaN,NaN
3,1/4/2018,Sal:146,TP13,DURGA 13*16 BLUE,400,11,"4,400.00",NaN,NaN
4,1/4/2018,Sal:146,TP13,10*12 SARAS-NAT,600,8.1,"4,860.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
44735,31/03/2019,Sal:9610,HAMPI FOODS,SPOON SOOFY,200,40,"8,000.00",NaN,NaN
44736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44738,NaN,Total,NaN,NaN,"666,056.00","1,067,808.80","10,796,991.30","29,999.00","10,787,647.30"
44739,NaN,Total,NaN,NaN,"7,097,803.00","10,024,197.00","117,897,671.80","720,204.00","117,427,983.80"

In [13]:
df_2019

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2019,Sal:687,BALAJI PLASTICS,DONA-VAI-9100,1,"1,730.00","1,730.00",NaN,"3,460.00"
1,1/4/2019,Sal:687,BALAJI PLASTICS,SMART BOUL(48),1,"1,730.00","1,730.00",NaN,NaN
2,1/4/2019,Sal:688,BALAJI PLASTICS,Vishnu Ice,110,18.5,"2,035.00",NaN,"2,035.00"
3,,,28/3,,0,0,,,
4,1/4/2019,Sal:689,BALAJI PLASTICS,100LEAF -SP,3,585,"1,755.00",NaN,"1,755.00"
...,...,...,...,...,...,...,...,...,...
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",NaN,NaN
19172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19174,NaN,Total,NaN,NaN,"99,284.90","175,381.65","2,203,649.50","20,680.00","2,189,014.50"
19175,NaN,Total,NaN,NaN,"2,710,193.00","5,519,888.40","53,360,791.40","672,984.00","52,830,224.40"

In [14]:
df_2017.append(df_2018, ignore_index=True)      ## append is removed from the latest version

AttributeError: 'DataFrame' object has no attribute 'append'

In [16]:
pd.concat([df_2017, df_2018])

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
44735,31/03/2019,Sal:9610,HAMPI FOODS,SPOON SOOFY,200,40,"8,000.00",NaN,NaN
44736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44738,NaN,Total,NaN,NaN,"666,056.00","1,067,808.80","10,796,991.30","29,999.00","10,787,647.30"
44739,NaN,Total,NaN,NaN,"7,097,803.00","10,024,197.00","117,897,671.80","720,204.00","117,427,983.80"

In [17]:
pd.concat([df_2017, df_2018, df_2019])

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",NaN,NaN
19172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19174,NaN,Total,NaN,NaN,"99,284.90","175,381.65","2,203,649.50","20,680.00","2,189,014.50"
19175,NaN,Total,NaN,NaN,"2,710,193.00","5,519,888.40","53,360,791.40","672,984.00","52,830,224.40"

In [ ]:
pd.merge()   ## Assignment ------------------

## Chapter_8 Crosstab PivotTable Groupby

In [19]:
insurance=pd.read_csv("insurance.csv")

In [20]:
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [21]:
pd.crosstab(index=insurance["region"],columns=insurance["smoker"])

smoker      no  yes
region
northeast  257   67
northwest  267   58
southeast  273   91
southwest  267   58

In [27]:
pd.pivot_table(insurance,
    values="charges",
    index="region",
    columns="smoker",aggfunc="sum")             ## Groupby func and Merge func assignment

smoker               no           yes
region
northeast  2.355542e+06  1.988127e+06
northwest  2.284576e+06  1.751136e+06
southeast  2.192795e+06  3.170895e+06
southwest  2.141149e+06  1.871606e+06